/* ===================== Font Faces ===================== */

@font-face {
  font-family: Ginto;
  font-style: normal;
  src: url(/fonts/Ginto-Copilot-Upright-Variable.woff2) format("woff2");
}

@font-face {
  font-family: RevaeaSerif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/EBGaramond-700.woff2) format("woff2");
}
